UP/.flows_Geiranger.local.json.backup
[{"id":"59b9ea9e.7870b4","type":"tab","label":"フロー 1","disabled":false,"info":""},{"id":"fd34bdb9.f3e51","type":"tab","label":"フロー 2","disabled":false,"info":""},{"id":"9fcd0f4a.e590e","type":"subflow","name":"SF00","info":"","category":"","in":[{"x":60,"y":80,"wires":[{"id":"9353331c.26f6"}]}],"out":[{"x":340,"y":80,"wires":[{"id":"9353331c.26f6","port":0}]}],"env":[],"meta":{"module":"node-red-contrib-hello","type":"hello","version":"0.1.0","author":"hiroyasu.nishiyama.uq@hitachi.com","desc":"Node-RED node for hello.","keywords":"Node-RED, hello world","license":"Apache-2.0"},"color":"#3FADB5","icon":"font-awesome/fa-fighter-jet"},{"id":"77332161.da691","type":"http in","z":"59b9ea9e.7870b4","name":"","url":"/subflow2node","method":"get","upload":false,"swaggerDoc":"","x":150,"y":120,"wires":[["9dfbcb38.b9c378"]]},{"id":"76e3350d.e0bfac","type":"http response","z":"59b9ea9e.7870b4","name":"","statusCode":"","headers":{},"x":570,"y":120,"wires":[]},{"id":"9dfbcb38.b9c378","type":"template","z":"59b9ea9e.7870b4","name":"SUBFLOW Submit page","field":"payload","fieldType":"msg","format":"html","syntax":"plain","template":"<html>\n    <head>\n        <link rel=\"stylesheet\" href=\"https://cdn.rawgit.com/Chalarangelo/mini.css/v3.0.1/dist/mini-default.min.css\">\n        <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n    </head>\n    <body>\n        <form action=\"/download\" method=\"post\">\n            <fieldset>\n            <legend>Convert Subflow to Node</legend>\n                <ul>\n                <li>Flow(JSON):</li>\n                <textarea name=\"flow\" cols=\"80\" rows=\"10\"></textarea>\n                <li>Readme(Markdown):</li>\n                <textarea name=\"readme\" cols=\"80\" rows=\"10\"></textarea>\n                <li>License(Text)</li>\n                <textarea name=\"license\" cols=\"80\" rows=\"10\"></textarea>\n                </ul>\n            </fieldset>\n            <input type=\"submit\" name=\"button\" value=\"send\"/>\n        </form>\n    </body>\n</html>","output":"str","x":380,"y":120,"wires":[["76e3350d.e0bfac"]]},{"id":"846fed01.03c32","type":"http in","z":"59b9ea9e.7870b4","name":"","url":"/download","method":"post","upload":false,"swaggerDoc":"","x":140,"y":220,"wires":[["4250506b.2b4d6"]]},{"id":"7e26a2a9.bf535c","type":"http response","z":"59b9ea9e.7870b4","name":"","statusCode":"","headers":{},"x":890,"y":300,"wires":[]},{"id":"4899d295.2ef9fc","type":"template","z":"59b9ea9e.7870b4","name":"Download page","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<html>\n    <head>\n        <link rel=\"stylesheet\" href=\"https://cdn.rawgit.com/Chalarangelo/mini.css/v3.0.1/dist/mini-default.min.css\">\n        <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n    </head>    \n    <body>\n        <h1>\n        Download npm package from <a download=\"{{filename}}\" href=\"{{payload}}\">here</a>.\n        </h1>\n    </body>\n</html>\n","output":"str","x":720,"y":300,"wires":[["7e26a2a9.bf535c"]]},{"id":"b854467a.8714a8","type":"change","z":"59b9ea9e.7870b4","name":"Set params","rules":[{"t":"set","p":"payload","pt":"msg","to":"\"data:application/octet-stream;base64,\" & payload","tot":"jsonata"},{"t":"set","p":"filename","pt":"msg","to":"subflow.tgz","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":300,"wires":[["4899d295.2ef9fc"]]},{"id":"9353331c.26f6","type":"function","z":"9fcd0f4a.e590e","name":"","func":"msg.payload = \"Hello \"+ msg.payload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":200,"y":80,"wires":[[]]},{"id":"d1fff342.5abaa","type":"inject","z":"fd34bdb9.f3e51","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"World","payloadType":"str","x":150,"y":160,"wires":[["172a2cc0.28c383"]]},{"id":"726d2862.112588","type":"debug","z":"fd34bdb9.f3e51","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":450,"y":160,"wires":[]},{"id":"21743993.2f52d6","type":"inject","z":"fd34bdb9.f3e51","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":180,"y":260,"wires":[["fe62988a.5192e8"]]},{"id":"fe62988a.5192e8","type":"template","z":"fd34bdb9.f3e51","name":"","field":"payload","fieldType":"msg","format":"json","syntax":"plain","template":"[\n    {\n        \"id\": \"9fcd0f4a.e590e\",\n        \"type\": \"subflow\",\n        \"name\": \"SF00\",\n        \"info\": \"\",\n        \"category\": \"\",\n        \"in\": [\n            {\n                \"x\": 60,\n                \"y\": 80,\n                \"wires\": [\n                    {\n                        \"id\": \"9353331c.26f6\"\n                    }\n                ]\n            }\n        ],\n        \"out\": [\n            {\n                \"x\": 340,\n                \"y\": 80,\n                \"wires\": [\n                    {\n                        \"id\": \"9353331c.26f6\",\n                        \"port\": 0\n                    }\n                ]\n            }\n        ],\n        \"env\": [],\n        \"meta\": {\n            \"module\": \"node-red-contrib-hello\",\n            \"type\": \"hello\",\n            \"version\": \"0.1.0\",\n            \"author\": \"hiroyasu.nishiyama.uq@hitachi.com\",\n            \"desc\": \"Node-RED node for hello.\",\n            \"keywords\": \"Node-RED, hello world\",\n            \"license\": \"Apache-2.0\"\n        },\n        \"color\": \"#3FADB5\",\n        \"icon\": \"font-awesome/fa-fighter-jet\"\n    },\n    {\n        \"id\": \"9353331c.26f6\",\n        \"type\": \"function\",\n        \"z\": \"9fcd0f4a.e590e\",\n        \"name\": \"\",\n        \"func\": \"msg.payload = \\\"Hello \\\"+ msg.payload;\\nreturn msg;\",\n        \"outputs\": 1,\n        \"noerr\": 0,\n        \"initialize\": \"\",\n        \"finalize\": \"\",\n        \"x\": 200,\n        \"y\": 80,\n        \"wires\": [\n            []\n        ]\n    },\n    {\n        \"id\": \"172a2cc0.28c383\",\n        \"type\": \"subflow:9fcd0f4a.e590e\",\n        \"z\": \"fd34bdb9.f3e51\",\n        \"name\": \"\",\n        \"env\": [],\n        \"x\": 350,\n        \"y\": 160,\n        \"wires\": [\n            [\n                \"726d2862.112588\"\n            ]\n        ]\n    }\n]","output":"json","x":360,"y":260,"wires":[["a1eeb6d3.a91168"]]},{"id":"172a2cc0.28c383","type":"subflow:9fcd0f4a.e590e","z":"fd34bdb9.f3e51","name":"","env":[],"x":290,"y":160,"wires":[["726d2862.112588"]]},{"id":"3e244395.af6e8c","type":"debug","z":"fd34bdb9.f3e51","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":710,"y":260,"wires":[]},{"id":"a1eeb6d3.a91168","type":"sf to node","z":"fd34bdb9.f3e51","name":"","base64":false,"encrypt":true,"x":530,"y":260,"wires":[["3e244395.af6e8c"]]},{"id":"4250506b.2b4d6","type":"change","z":"59b9ea9e.7870b4","name":"Set params","rules":[{"t":"set","p":"readme","pt":"msg","to":"payload.readme","tot":"msg"},{"t":"set","p":"license","pt":"msg","to":"payload.license","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"payload.flow","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":220,"wires":[["b09f2178.f0add"]]},{"id":"a0e91f37.c148e","type":"sf to node","z":"59b9ea9e.7870b4","name":"","base64":true,"encrypt":false,"x":350,"y":300,"wires":[["b854467a.8714a8"]]},{"id":"317f3dc3.f13152","type":"debug","z":"59b9ea9e.7870b4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":650,"y":180,"wires":[]},{"id":"b09f2178.f0add","type":"json","z":"59b9ea9e.7870b4","name":"","property":"payload","action":"","pretty":false,"x":490,"y":220,"wires":[["a0e91f37.c148e","317f3dc3.f13152"]]}]