examples/01 - generate package.json
[{"id":"21743993.2f52d6","type":"inject","z":"fd34bdb9.f3e51","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":200,"y":560,"wires":[["fe62988a.5192e8"]]},{"id":"fe62988a.5192e8","type":"template","z":"fd34bdb9.f3e51","name":"SUBFLOW definition","field":"payload","fieldType":"msg","format":"json","syntax":"plain","template":"[\n    {\n        \"id\": \"9fcd0f4a.e590e\",\n        \"type\": \"subflow\",\n        \"name\": \"Hello\",\n        \"info\": \"Prepends a string \\\"`Hello `\\\" to input payload.\\n\\n# Inputs\\n\\n- `payload`     _string_\\n\\n    A string.\\n\\n# Outputs\\n\\n- `payload`     _string_\\n\\n    A string with \\\"`Hello `\\\" prepended to input payload.\\n\\n\\n\\n\\n\",\n        \"category\": \"\",\n        \"in\": [\n            {\n                \"x\": 60,\n                \"y\": 80,\n                \"wires\": [\n                    {\n                        \"id\": \"9353331c.26f6\"\n                    }\n                ]\n            }\n        ],\n        \"out\": [\n            {\n                \"x\": 340,\n                \"y\": 80,\n                \"wires\": [\n                    {\n                        \"id\": \"9353331c.26f6\",\n                        \"port\": 0\n                    }\n                ]\n            }\n        ],\n        \"env\": [],\n        \"meta\": {\n            \"module\": \"node-red-contrib-hello\",\n            \"type\": \"hello\",\n            \"version\": \"0.1.0\",\n            \"author\": \"hiroyasu.nishiyama.uq@hitachi.com\",\n            \"desc\": \"Node-RED node for hello.\",\n            \"keywords\": \"Node-RED, hello world\",\n            \"license\": \"Apache-2.0\"\n        },\n        \"color\": \"#3FADB5\",\n        \"icon\": \"font-awesome/fa-fighter-jet\"\n    },\n    {\n        \"id\": \"9353331c.26f6\",\n        \"type\": \"function\",\n        \"z\": \"9fcd0f4a.e590e\",\n        \"name\": \"\",\n        \"func\": \"msg.payload = \\\"Hello \\\"+ msg.payload;\\nreturn msg;\",\n        \"outputs\": 1,\n        \"noerr\": 0,\n        \"initialize\": \"\",\n        \"finalize\": \"\",\n        \"x\": 200,\n        \"y\": 80,\n        \"wires\": [\n            []\n        ]\n    }\n]","output":"json","x":400,"y":560,"wires":[["12c71b31.4ecaf5"]]},{"id":"12c71b31.4ecaf5","type":"sf to node","z":"fd34bdb9.f3e51","name":"Convert to NPM","base64":false,"encoding":"none","x":620,"y":560,"wires":[["3c64f5c1.fd044a"]]},{"id":"3c64f5c1.fd044a","type":"file","z":"fd34bdb9.f3e51","name":"","filename":"/tmp/sf2node.tgz","appendNewline":false,"createDir":false,"overwriteFile":"true","encoding":"none","x":830,"y":560,"wires":[[]]},{"id":"934d574d.a28ff8","type":"comment","z":"fd34bdb9.f3e51","name":"↓ Output JSON format SUBFLOW definition","info":"","x":470,"y":520,"wires":[]}]