examples/02 - simple Web UI.json
[{"id":"77332161.da691","type":"http in","z":"59b9ea9e.7870b4","name":"","url":"/subflow2node","method":"get","upload":false,"swaggerDoc":"","x":150,"y":120,"wires":[["9dfbcb38.b9c378"]]},{"id":"76e3350d.e0bfac","type":"http response","z":"59b9ea9e.7870b4","name":"","statusCode":"","headers":{},"x":570,"y":120,"wires":[]},{"id":"9dfbcb38.b9c378","type":"template","z":"59b9ea9e.7870b4","name":"SUBFLOW Submit page","field":"payload","fieldType":"msg","format":"html","syntax":"plain","template":"<html>\n    <head>\n        <link rel=\"stylesheet\" href=\"https://cdn.rawgit.com/Chalarangelo/mini.css/v3.0.1/dist/mini-default.min.css\">\n        <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n    </head>\n    <body>\n        <form action=\"/download\" method=\"post\">\n            <fieldset>\n            <legend>Convert Subflow to Node</legend>\n                <ul>\n                <li>Flow(JSON):</li>\n                <textarea name=\"flow\" cols=\"80\" rows=\"10\"></textarea>\n                <br/>\n                <li>Readme(Markdown):</li>\n                <textarea name=\"readme\" cols=\"80\" rows=\"10\"></textarea>\n                <li>License(Text)</li>\n                <textarea name=\"license\" cols=\"80\" rows=\"10\"></textarea>\n                </ul>\n            </fieldset>\n            <input type=\"submit\" name=\"button\" value=\"send\"/>\n        </form>\n    </body>\n</html>","output":"str","x":380,"y":120,"wires":[["76e3350d.e0bfac"]]},{"id":"846fed01.03c32","type":"http in","z":"59b9ea9e.7870b4","name":"","url":"/download","method":"post","upload":false,"swaggerDoc":"","x":140,"y":260,"wires":[["4250506b.2b4d6"]]},{"id":"7e26a2a9.bf535c","type":"http response","z":"59b9ea9e.7870b4","name":"","statusCode":"","headers":{},"x":890,"y":340,"wires":[]},{"id":"4899d295.2ef9fc","type":"template","z":"59b9ea9e.7870b4","name":"Download page","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<html>\n    <head>\n        <link rel=\"stylesheet\" href=\"https://cdn.rawgit.com/Chalarangelo/mini.css/v3.0.1/dist/mini-default.min.css\">\n        <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n    </head>    \n    <body>\n        <div class=\"card\">\n            <h3>Success</h3>\n            <p>Download npm package from <a download=\"{{filename}}\" href=\"{{payload}}\">here</a>.</p>\n        </div>\n    </body>\n</html>\n","output":"str","x":720,"y":340,"wires":[["7e26a2a9.bf535c"]]},{"id":"b854467a.8714a8","type":"change","z":"59b9ea9e.7870b4","name":"Set params","rules":[{"t":"set","p":"payload","pt":"msg","to":"\"data:application/octet-stream;base64,\" & payload","tot":"jsonata"},{"t":"set","p":"filename","pt":"msg","to":"subflow.tgz","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":340,"wires":[["4899d295.2ef9fc"]]},{"id":"4250506b.2b4d6","type":"change","z":"59b9ea9e.7870b4","name":"Set params","rules":[{"t":"set","p":"readme","pt":"msg","to":"payload.readme","tot":"msg"},{"t":"set","p":"license","pt":"msg","to":"payload.license","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"payload.flow","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":260,"wires":[["b09f2178.f0add"]]},{"id":"b09f2178.f0add","type":"json","z":"59b9ea9e.7870b4","name":"","property":"payload","action":"","pretty":false,"x":490,"y":260,"wires":[["9825e751.28df68"]]},{"id":"1dfdbfb.9c9764","type":"catch","z":"59b9ea9e.7870b4","name":"","scope":["4899d295.2ef9fc","b854467a.8714a8","4250506b.2b4d6","b09f2178.f0add","9825e751.28df68"],"uncaught":false,"x":330,"y":400,"wires":[["1f3e823f.d506de"]]},{"id":"cfb50472.c930f8","type":"http response","z":"59b9ea9e.7870b4","name":"","statusCode":"","headers":{},"x":890,"y":400,"wires":[]},{"id":"1f3e823f.d506de","type":"template","z":"59b9ea9e.7870b4","name":"Error page","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<html>\n    <head>\n        <link rel=\"stylesheet\" href=\"https://cdn.rawgit.com/Chalarangelo/mini.css/v3.0.1/dist/mini-default.min.css\">\n        <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n    </head>    \n    <body>\n        <div class=\"card error\">\n            <h3>Error</h3>\n            <p>Conversion of SUBFLOW JSON data to SUBFLOW module failed: {{error.message}}</p>\n        </div>\n    </body>\n</html>\n","output":"str","x":710,"y":400,"wires":[["cfb50472.c930f8"]]},{"id":"c2bdc81b.9fdd78","type":"comment","z":"59b9ea9e.7870b4","name":"HTTP page for creating NPM package from SUBFLOW JSON data","info":"","x":280,"y":80,"wires":[]},{"id":"77b39430.bdb06c","type":"comment","z":"59b9ea9e.7870b4","name":"Create NPM package and reply download page","info":"","x":220,"y":220,"wires":[]},{"id":"9825e751.28df68","type":"sf to node","z":"59b9ea9e.7870b4","name":"","base64":true,"encoding":"none","x":350,"y":340,"wires":[["b854467a.8714a8"]]}]