examples/02 - simple Web UI.json
[{"id":"846fed01.03c32","type":"http in","z":"eea07af.ff80088","name":"","url":"/download","method":"post","upload":false,"swaggerDoc":"","x":400,"y":380,"wires":[["4250506b.2b4d6"]]},{"id":"7e26a2a9.bf535c","type":"http response","z":"eea07af.ff80088","name":"","statusCode":"","headers":{},"x":1150,"y":460,"wires":[]},{"id":"4899d295.2ef9fc","type":"template","z":"eea07af.ff80088","name":"Download page","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<html>\n    <head>\n        <link rel=\"stylesheet\" href=\"https://cdn.rawgit.com/Chalarangelo/mini.css/v3.0.1/dist/mini-default.min.css\">\n        <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n    </head>    \n    <body>\n        <div class=\"card\">\n            <h3>Success</h3>\n            <p>Download npm package from <a download=\"{{filename}}\" href=\"{{payload}}\">here</a>.</p>\n        </div>\n    </body>\n</html>\n","output":"str","x":980,"y":460,"wires":[["7e26a2a9.bf535c"]]},{"id":"b854467a.8714a8","type":"change","z":"eea07af.ff80088","name":"Set params","rules":[{"t":"set","p":"payload","pt":"msg","to":"\"data:application/octet-stream;base64,\" & payload","tot":"jsonata"},{"t":"set","p":"filename","pt":"msg","to":"subflow.tgz","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":790,"y":460,"wires":[["4899d295.2ef9fc"]]},{"id":"4250506b.2b4d6","type":"change","z":"eea07af.ff80088","name":"Set params","rules":[{"t":"set","p":"readme","pt":"msg","to":"payload.readme","tot":"msg"},{"t":"set","p":"license","pt":"msg","to":"payload.license","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"payload.flow","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":590,"y":380,"wires":[["b09f2178.f0add"]]},{"id":"b09f2178.f0add","type":"json","z":"eea07af.ff80088","name":"","property":"payload","action":"","pretty":false,"x":750,"y":380,"wires":[["9825e751.28df68"]]},{"id":"77b39430.bdb06c","type":"comment","z":"eea07af.ff80088","name":"Create NPM package and reply download page","info":"","x":480,"y":340,"wires":[]},{"id":"9825e751.28df68","type":"sf to node","z":"eea07af.ff80088","name":"","base64":true,"encoding":"none","x":610,"y":460,"wires":[["b854467a.8714a8"]]}]